@import url('https://fonts.googleapis.com/css?family=Muli');
body {
	font-family: 'Muli';
	font-weight: 300;
	background-color: #F9EDD4;
};

.container {
  display: flex; /* or inline-flex */
/*  flex-direction: row;*/
  justify-content: space-around;
  align-items: center; 
}

.big-button {
	background-color: #F6CBA7;
	text-align: center;
	padding: 12px;
	margin-top: 40px;
	margin: 20px;
	border-radius: 4px;
	text-decoration: none;
	color:#485863;
	height: 50px;
}
.big-button:hover, .big-button:active {
	background-color: #e8c0a0;
	text-decoration: none;
	color:#485863;

}
.navbar-custom {
    background-color: #F7AF7C;
}

.landing-title{
	margin-top: 20%

}

.profile-image {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-color: #F6CBA7;
	margin-top: 25px;
	margin-bottom: 0px;
	margin-left: 20px;
}

.profile-text {
	margin: 25px;
	font-size: 50px;
}

.basic-info {
	display: flex;
}

.info-cols {
	display: flex;
}

.card {
	margin: 25px;
	width: 400px;
	height: 500px;
	border-radius: 20px;
	text-align: center;
	background-color: grey;
	font-size: 20px;
}

.follow-button {
	background-color: grey;
	border-radius: 30px;
	padding: 10px;
	margin: 25px;
	height: 45px;
	text-align: center;
}

.divider {
	width: 500px;
}

.profile-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: grey;
}


