@import url('https://fonts.googleapis.com/css?family=Muli');
body {
	font-family: 'Muli';
	font-weight: 300;
	background-color: #F9EDD4;
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
}
.big-button{
	background-color: #F6CBA7;
	text-align: center;
	padding: 12px;
	margin: 2px;
	border-radius: 4px;
	text-decoration: none;
	color:#485863;
}
.big-button:hover, .big-button:active{
	background-color: #e8c0a0;
	text-decoration: none;
	color:#485863;

}
.navbar-custom {
    background-color: #F7AF7C;
}
.navbar-custom .navbar-brand{
	color:#F9EDD4;
	margin-left: 5%;
	font-weight:bold;
}
.landing-heading{
	margin-bottom:1%;
	text-align: center;
	font-size: 20px;
	color: #485863;
}
.landing-title{
	margin-top: 10%;
	text-align: center;
	font-size: 100px;
	color: #485863;
	font-weight:bold;
}
