<!DOCTYPE html>
<html>
<head>
	<title> spork </title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">
</head>


<body>
	 <nav class="navbar navbar-custom">
      <div class="navbar-brand"><a href="/">spork</a></div>
      <div class="navbar-nav" id="nav-item-container"> 
      	<div class="container">
<!--       		<a class ="big-button" href = "/static/login.html"> login </a> 
			<a class = "big-button" href = "/static/signup.html"> signup </a> -->
			<a class="big-button" href="/auth/google"> sign in </a>
			<a class="big-button" href="/recipe"> add a recipe </a>
			<a class="big-button" href="feed"> feed </a>
		</div>
      </div>
     </nav>
     <div class = "landing-title">spork</div>
	<div class = "landing-heading">post recipes. make great suggestions. work together to cook something awesome.</div>
	
	<div style = "max-width:40%;justify-content:center" class ="container">
	<a class="big-button" href="/auth/google"> get started </a>
<!-- 	<a class ="bigger-button" href = "./login.html"> login </a> 
	<a class = "bigger-button" href = "./signup.html"> signup </a> -->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>