<!DOCTYPE html>
<html>
<head>
	<title> login: spork </title>

	<!-- css styling -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>	
	<!-- navbar -->
	<nav class="navbar navbar-custom">
		<div class="navbar-brand">spork</div>
		<div class="navbar-nav" id="nav-item-container"> 
			<div class="container">
				<a class ="big-button" href = "/login"> login </a> 
				<a class = "big-button" href = "/signup"> signup </a>
				<a class="big-button" href="/auth/google"> google </a>
			</div>
		</div>
	</nav>

	<!-- recipe card -->
	<div class = "landing-title">spork</div>
	<div class="login-container flex-container center">
		<form class="center">
			<br><input type="text2" name="username" placeholder="username"><br>
			<br><input type="password" name="password" placeholder="password"><br>
			<br><a class="big-button login-button" href="/feed"> login </a><br>
		</form>

	</div>
</body>
</html>