<!DOCTYPE html>
<html>
<head>
	<title> profile: spork </title>

	<!-- css styling -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


	<!-- <link rel="stylesheet" href="/static/public/css/style.css"> -->
</head>

<body>
	<!-- navbar -->
	<nav class="navbar navbar-custom">
		<div class="navbar-brand"><a href="/feed">spork</a></div>
		<div class="navbar-nav" id="nav-item-container"> 
			<div class="container">

				<input type="search" placeholder="search">
				<button type="submit">submit</button>
				<button type="submit" onclick='renderResults()'>submit</button>
				<a class="big-button" href="/u/profile"> profile </a>  	
				<a class="big-button" href="/recipe"> add a recipe </a>	
				<a class="big-button" href="/logout"> logout </a>	
			</div>
		</div>
	</nav>

	<!-- profile -->
	<div class="flex-container">
		<div class="profile-image" id="profile-image">
			<!-- <input style ="display:none;" id = "new-photo" name = "new-photo" type= "file"/> -->
		</div>
		<div name = "name" id = "name" class="profile-text">username</div>
		<div name = "name" id = "bio" class="bio-text">bio</div>

		<div class="divider"></div>

		<a onclick="document.getElementById('modal').style.display='block'" class="big-button follow-button" id = "editprofilebutton"> edit profile </a> 
		<a id ='subscribe-button' class="big-button follow-button" href='#' onClick="window.location.reload()"> subscribe </a> 
		<a id = 'unsubscribe-button' class="big-button follow-button" href='#' onClick="window.location.reload()"> unsubscribe </a>
		<a class="big-button follow-button" href="/u/followers"> followers </a> 
		<a class="big-button follow-button" href="/u/following"> following </a> 
	</div> 

	<div class="w3-modal flex-container center" id = "modal">
		<div class = "view-container">
			<span onclick="document.getElementById('modal').style.display='none'" 
      class="w3-button w3-display-topright">&times;</span>
			<form>
				<br><input id = "editdisplayname" type="text" name="name" placeholder="display name"><br>
				<br><textarea id="editbio" placeholder="add a bio!"></textarea><br>
				<label for = "fileupload"> submit a new profile pic</label>
				<input type="file" name="fileupload" value="fileupload" id="fileupload">
				<br><a id= "profilesubmit" href="#">submit</a></br>
			</form>
	</div>
</div>

	<div class="flex-container">
		<div class="card"><p>my stats</p><div class = profile-card-text id = 'stats'> no stats yet</div></div>
		<div class="card"><p>my recipes</p><div class = profile-card-text id ='recipes'> no recipes yet</div></div>
		<div class="card"><p>my favorites</p><div class = profile-card-text id = 'favs'> no favorites yet</div></div>
	</div>

	

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="/static/js/api.js"></script>
<script src="/static/js/search.js"></script>
<script src="/static/js/profile.js"></script>
<script src="/static/js/subscribe.js"></script>
</body>
</html>



